<header class="pi-header">
  <div class="toggle-widget">
      <span class="item item-1"></span>
      <span class="item item-2"></span>
  </div>

  <nav class="container_nav">
    <ul class="topnav border" id="menu">
      <li class="logoImgNav" style="float: left;"></li>
      <li style="float: left;"><a id="logo-nav" href="/" style="padding-right: 2px">jointDeveloper</a></li>
			<li><a href="/contacto" class="group"><span>Contacto</span></a></li>
			<li><a href="/blog" class="group"><span>Blog</span></a></li>
			<li><a href="/eventos" class="group"><span>Eventos</span></a></li>
			<li><a href="/perfiles" class="group"><span>Perfiles</span></a></li>
			<li><a href="/portafolio" class="group"><span>Portafolio</span></a></li>
			<li><a href="/comunidad" class="group"><span>Comunidad</span></a></li>
    </ul>
  </nav>
</header>
