<header class="pi-header">
    <div class="toggle-widget">
        <span class="item item-1"></span>
        <span class="item item-2"></span>
    </div>
    
    <nav class="container_nav">
        <label for="show-menu" class="show-menu"><a id="logo-nav-responsive">jointDeveloper</a></label>
        <ul class="topnav border" id="menu">
          <li class="logoImgNav"><img class="imgLogo" src="/assets/images/icons/robot.png"/></li>
          <li><a id="logo-nav" href="http://jointdeveloper.github.io/Aprendizaje-Web/">jointDeveloper</a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/about.html" class=""><span>Quienes somos</span></a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/perfiles" class=""><span>Perfiles</span></a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/portafolio.html" class=""><span>Portafolio</span></a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/eventos.html" class=""><span>Eventos</span></a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/comunidad.html" class=""><span>Comunidad</span></a></li>
          <li><a href="#" class="inicio active"><span>Blog</span></a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/apoyanos.html" class=""><span>Apóyanos</span></a></li>
          <li><a href="http://jointdeveloper.github.io/Aprendizaje-Web/HTML/contacto.html" class=""><span>Contacto</span></a></li>
        </ul>
      </nav>
</header>
